$theme-font: Gill Sans Extrabold,
sans-serif;
$Vlight: #f9f9f9;
$Light: #b5b5b7;
$Dark:#677077;
$White: #ffffff;
$Black: #000000;
$Yellow: #ff0;
$Vdblue: #000325;
$Dblue: #072484;
$Blue: #3258d3;
$Lblue: #61dafb;
$Green: #28a745;
$Red: #f00f00;
$Dred: #a30101;
// $Light: #d0d5d5;
// $Dark:#131313;
// $White: #ffffff;
// $Purple: #410559;
// $Pink: #f060df;
// $Green: #28a745;